* text=auto

/.editorconfig       export-ignore
/.gitattributes      export-ignore
/.github             export-ignore
/.gitignore          export-ignore
/.php_cs             export-ignore
/phpstan.neon       export-ignore
/.travis.yml         export-ignore
/README.md           export-ignore
/phpunit.xml.dist    export-ignore
/CHANGELOG.md        export-ignore
/**/*Test.php        export-ignore
