includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
parameters:
    checkMissingIterableValueType: false
    ignoreErrors:
        - message: '#Parameter \#1 \$exception of method PHPUnit\\Framework\\TestCase::expectException\(\) expects class-string<Throwable>, string given\.#'
          path: tests/CacheTest.php
        - message: '#Parameter \#1 \$key of method Pdp\\Cache::get\(\) expects string, null given\.#'
          path: tests/CacheTest.php
        - message: '#Parameter \#3 \$ttl of method Pdp\\Cache::set\(\) expects DateInterval\|int\|null, DateTime\|false given\.#'
          path: tests/CacheTest.php
        - message: '#Parameter \#1 \$key of method Pdp\\Cache::set\(\) expects string, null given\.#'
          path: tests/CacheTest.php
        - message: '#Parameter \#1 \$key of method Pdp\\Cache::delete\(\) expects string, null given\.#'
          path: tests/CacheTest.php
        - message: '#Parameter \#1 \$key of method Pdp\\Cache::has\(\) expects string, null given\.#'
          path: tests/CacheTest.php
        - message: '#Parameter \#1 \$values of method Pdp\\Cache::setMultiple\(\) expects iterable, null given\.#'
          path: tests/CacheTest.php
        - message: '#Parameter \#1 \$keys of method Pdp\\Cache::getMultiple\(\) expects iterable, null given\.#'
          path: tests/CacheTest.php
        - message: '#Parameter \#1 \$keys of method Pdp\\Cache::deleteMultiple\(\) expects iterable, null given\.#'
          path: tests/CacheTest.php
