<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
    backupGlobals="false"
    backupStaticAttributes="false"
    bootstrap="tests/bootstrap.php" 
    colors="true">

    <testsuite name="php-domain-parser">
        <directory>tests/library</directory>
    </testsuite>

    <filter>
        <whitelist>
            <directory suffix=".php">./library</directory>
            <exclude>
                <file>./library/Pdp/Domain.php</file>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" 
            target="tests/log/report" 
            charset="UTF-8" 
            yui="true" 
            highlight="true" 
            lowUpperBound="40"
            highLowerBound="70" />
        <log type="testdox-html" target="tests/log/testdox.html" />
    </logging>

</phpunit>
