<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.3/phpunit.xsd"
        bootstrap="tests/bootstrap.php"
        colors="true">

    <testsuite name="php-domain-parser">
        <directory>tests/src</directory>
    </testsuite>

    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html"
             target="build/coverage"
             lowUpperBound="40" />
        <log type="testdox-html" target="build/coverage/log/testdox.html" />
        <log type="junit" target="build/report.junit.xml"/>
        <log type="coverage-text" target="build/coverage.txt"/>
        <log type="coverage-clover" target="build/clover.xml"/>
    </logging>
</phpunit>
